results/**
resources/**
logs/**
Fastqs/**
nasp/**
fastp/**
aligned/**
.snakemake
.snakemake/**
misc/**
*\~
#*#
.[#]*[#]
*.swp
.DS_Store
*.out
*.err
*.log
*.aux
*.bbl
*.blg
*.fls
.setup_done
.vscode/**
